alembic==1.16.1              # Para migraciones con SQLAlchemy
bandit==1.8.3                # Seguridad (opcional, pero útil)
blinker==1.8.2               # Flask lo usa internamente
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.8.2              # Solo si haces pruebas
cryptography==44.0.2
Flask==3.0.3
flask-cors==5.0.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
idna==3.7
Jinja2==3.1.4
Mako==1.3.10
MarkupSafe==2.1.5
numpy==1.26.2
packaging==24.1
pillow==11.0.0               # Solo si manejas imágenes (verifica)
python-dateutil==2.9.0.post0
python-dotenv==1.0.1         # Muy útil para `.env` con claves
pytz==2024.2
requests==2.32.3
SQLAlchemy==2.0.39
six==1.16.0
urllib3==2.2.2
Werkzeug==3.0.4
WTForms==3.1.2
gunicorn
reportlab

